
.btn22 {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn22:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  width: 900px;
  padding: 0;

}

.cards_item {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  padding: 1rem;
  border: rgba(255, 255, 255, 255)
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card > .card_image {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  border-radius: 15px 15px 0px 0px;
  /* flex-direction: column; */
  width: 230px;
  height: 250px; 
  overflow: hidden;
}

.card_content {
  
  padding: 1rem;
  /* background: linear-gradient(to bottom left,#171616 40%,  #1a1515  60%); */
  text-align: center;
}

.card_title {
  color: #171616;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.card_text {
  color: #171616;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.1rem;    
  font-weight: 400;
  text-align: center;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}